/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none !important;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

html {
  font-size: 10px;
}

.wrapper {
  position: relative;
  max-width: 1440px;
  margin: 0px auto;
}

.container {
  margin: 0px auto;
}

.btn {
  padding: 13.5px 44px;
  border-radius: 8px;
  letter-spacing: 0.03rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.btn:hover {
  cursor: pointer;
}

.btn--outlined {
  background: transparent;
  color: #2a73dd;
  border: 1px solid #2a73dd;
  -webkit-box-shadow: 0 3px 6px #c9d8f4;
          box-shadow: 0 3px 6px #c9d8f4;
}

.btn--outlined:hover {
  background: #2a73dd;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
}

.btn--contained {
  background: linear-gradient(120deg, #60a4f4, #2a73dd);
  color: white;
  border: 1px solid #60a4f4;
}

.btn--contained:hover {
  opacity: 0.75;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sidebarMini {
  position: fixed;
  top: 25%;
  right: 0;
  z-index: 500;
  width: 400px;
  background-color: #2196f3;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: .5s;
  transition: .5s;
  border-left: 1px solid #2196f3;
  color: #fff;
}

.sidebarMini .sidebarMini__button {
  background: #2196f3;
  padding: 8px 18px;
  border: 1px solid #2196f3;
  border-radius: 8px 0 0 8px;
  letter-spacing: 0.015rem;
  position: fixed;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: .5s;
  transition: .5s;
  color: #fff;
}

.sidebarMini .sidebarMini__button i {
  font-size: 15px;
}

.header {
  background-color: #f5f9fe;
  -webkit-box-shadow: 0 2px 4px #e2ebfc;
          box-shadow: 0 2px 4px #e2ebfc;
  padding: 10px;
  z-index: 99;
}

.header__container .navbar {
  padding: 0.5rem 0rem;
}

.header__container button.navbar-toggler .navbar-toggler-icon {
  font-size: 2rem;
  line-height: 1.5em;
  color: #1d365e;
}

.header__container .navbar-collapse {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 !important;
          flex: 0 !important;
}

@media only screen and (max-width: 960px) {
  .header__container .navbar-collapse {
    -webkit-box-flex: 1 !important;
        -ms-flex-positive: 1 !important;
            flex-grow: 1 !important;
  }
}

.header__container .header__logo a {
  font-size: 2.5rem;
  font-weight: 600;
  color: #2a73dd;
}

.header__container .header__nav .header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__container .header__nav .header__nav-list .header__nav-item {
  padding: 25px;
}

.header__container .header__nav .header__nav-list .header__nav-item a {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1d365e;
}

.header__container .header__nav .header__nav-list .header__nav-item a::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background-color: #2a73dd;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header__container .header__nav .header__nav-list .header__nav-item:hover a {
  color: #2a73dd;
}

.header__container .header__nav .header__nav-list .header__nav-item:hover a::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header__container .header__nav .header__nav-list .header__nav-item--active a {
  color: #2a73dd;
}

.header__container .header__nav .header__nav-list .header__nav-item--active a::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background-color: #2a73dd;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.banner {
  padding: 220px 0px;
  background-image: url(../../images/product-header-bg.jpeg);
  background-size: cover;
  background-position: center bottom;
}

@media only screen and (max-width: 768px) {
  .banner {
    padding: 150px 0px;
  }
}

.banner .banner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .banner__container .banner__content .banner__title {
  font-size: 7rem;
  font-weight: 700;
  color: #2a73dd;
  margin-bottom: 15px;
}

@media only screen and (max-width: 768px) {
  .banner .banner__container .banner__content .banner__title {
    font-size: 4rem;
    margin-bottom: 10px;
  }
}

.banner .banner__container .banner__content .banner__sub-title {
  font-size: 2.2rem;
  font-weight: 600;
  color: #1d365e;
  margin-bottom: 30px;
}

.banner .banner__container .banner__content .banner__descriptions {
  font-size: 1.5rem;
  font-weight: 400;
  color: #656774;
  margin-bottom: 25px;
}

.banner .banner__container .banner__image img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .banner .banner__container .banner__image img {
    display: none;
  }
}

.products {
  padding: 100px 0;
  background-color: #f5f9fe;
}

.products__title {
  margin-bottom: 70px;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: #1d365e;
  letter-spacing: 0.015rem;
}

.products__content .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px;
}

.products__content .cardPhone {
  -webkit-box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
          box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  background-color: #f5f9fe;
  border: none;
  padding: 30px;
  margin-bottom: 30px;
}

.products__content .cardPhone__title {
  font-size: 20px;
  font-weight: 700;
  color: #1d365e;
  margin-bottom: 1.2rem;
}

.products__content .cardPhone__text {
  font-size: 14px;
  font-weight: 400;
  color: #1d365e;
  margin-bottom: 2rem;
}

.products__content .cardPhone__rating {
  color: #f9d412;
}

.products__content .cardPhone .card-img-top {
  width: 100%;
  border-top-left-radius: calc(2px - 1px);
  border-top-right-radius: calc(2px - 1px);
}

.products__content .cardPhone img {
  -webkit-box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
          box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  border-radius: 8px;
}

.products__content .card-body {
  padding: 1.5rem;
}

.products__content .card-body .btnPhone-shadow {
  background: #f5f9fe;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.03rem;
  font-size: 10px;
  font-weight: 600;
  color: #2a73dd;
  -webkit-box-shadow: 2px 2px 4px #e2ebfc, -2px -2px 4px #fff;
          box-shadow: 2px 2px 4px #e2ebfc, -2px -2px 4px #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

.products__content .card-body .btnPhone-shadow:hover {
  -webkit-box-shadow: inset 1px 1px 3px #e2ebfc, inset -2px -2px 5px #fff;
          box-shadow: inset 1px 1px 3px #e2ebfc, inset -2px -2px 5px #fff;
}

footer {
  background-color: #2a73dd;
  padding-bottom: 60px;
  color: #fff;
}

footer .footer__image {
  display: block;
  margin-bottom: 60px;
}

footer .footer__content {
  font-size: 1.4rem;
}

footer .footer__content--right ul li a {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 1rem 1.5rem;
}

footer .footer__content--right ul li a:hover {
  opacity: 0.7;
}
/*# sourceMappingURL=app.css.map */