.btn {
  padding: 13.5px 44px;
  border-radius: 8px;
  letter-spacing: 0.03rem;
  font-size: 1.4rem;
  font-weight: 600;
  &:hover {
    cursor: pointer;
  }
}
.btn--outlined {
  background: transparent;
  color: $primary-main;
  border: 1px solid $primary-main;
  box-shadow: 0 3px 6px #c9d8f4;
  &:hover {
    background: $primary-main;
    transition: all 0.5s;
    color: $white;
  }
}

.btn--contained {
  background: linear-gradient(
    120deg
    ,$primary-light, $primary-main);
  color: white;
  border: 1px solid $primary-light;
  &:hover {
    opacity: 0.75;
    transition: all 0.5s;
  }
}

.sidebarMini {
  position: fixed;
  top: 25%;
  right: 0;
  z-index: 500;
  width: 400px;
  background-color: $blue;
  transform: translateX(100%);
  transition: .5s;
  border-left: 1px solid $blue;
  color: #fff;
  .sidebarMini__button {
    background: $blue;
    padding: 8px 18px;
    border: 1px solid $blue;
    border-radius: 8px 0 0 8px;
    letter-spacing: 0.015rem;
    position: fixed;
    transform: translateX(-100%);
    transition: .5s;
    color: #fff;
    i {
      font-size: 15px;
    }
  }
}