.banner {
  padding: 220px 0px;
  background-image: url(../../images/product-header-bg.jpeg);
  background-size: cover;
  background-position: center bottom;
  @include Responsive(MD) {
    padding: 150px 0px;
  }
  .banner__container {
    display: flex;
    align-items: center;
    .banner__content {
      .banner__title {
        font-size: 7rem;
        font-weight: 700;
        color: $primary-main;
        margin-bottom: 15px;
        @include Responsive(MD) {
          font-size: 4rem;
          margin-bottom: 10px;
        }
      }
      .banner__sub-title {
        font-size: 2.2rem;
        font-weight: 600;
        color: $primary-dark;
        margin-bottom: 30px;
      }
      .banner__descriptions {
        font-size: 1.5rem;
        font-weight: 400;
        color: #656774;
        margin-bottom: 25px;
      }
    }
    .banner__image {
      img {
        max-width: 100%;
        height: auto;

        @include Responsive(MD) {
          display: none;
        }
      }
    }
  }
}
